In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('pnr.train.txt',delimiter =' ').reset_index()#sep=" "

In [3]:
test = pd.read_csv('pnr.test.txt',delimiter=' ',error_bad_lines=False).reset_index()

b'Skipping line 45: expected 4 fields, saw 5\nSkipping line 175: expected 4 fields, saw 5\nSkipping line 193: expected 4 fields, saw 5\nSkipping line 225: expected 4 fields, saw 5\nSkipping line 313: expected 4 fields, saw 5\nSkipping line 451: expected 4 fields, saw 5\nSkipping line 465: expected 4 fields, saw 5\nSkipping line 538: expected 4 fields, saw 5\nSkipping line 748: expected 4 fields, saw 5\nSkipping line 842: expected 4 fields, saw 5\nSkipping line 1112: expected 4 fields, saw 5\nSkipping line 1147: expected 4 fields, saw 5\nSkipping line 1179: expected 4 fields, saw 5\nSkipping line 1221: expected 4 fields, saw 5\nSkipping line 1259: expected 4 fields, saw 5\nSkipping line 1270: expected 4 fields, saw 5\nSkipping line 1273: expected 4 fields, saw 5\nSkipping line 1285: expected 4 fields, saw 5\nSkipping line 1332: expected 4 fields, saw 5\nSkipping line 1357: expected 4 fields, saw 5\nSkipping line 1511: expected 4 fields, saw 5\nSkipping line 1514: expected 4 fields, saw 5\nSkipping line 1528: expected 4 fields, saw 5\nSkipping line 1560: expected 4 fields, saw 5\nSkipping line 1563: expected 4 fields, saw 5\nSkipping line 1626: expected 4 fields, saw 5\nSkipping line 1695: expected 4 fields, saw 5\nSkipping line 1740: expected 4 fields, saw 5\nSkipping line 1771: expected 4 fields, saw 5\nSkipping line 1804: expected 4 fields, saw 5\nSkipping line 1833: expected 4 fields, saw 5\nSkipping line 1853: expected 4 fields, saw 5\nSkipping line 1866: expected 4 fields, saw 5\nSkipping line 1871: expected 4 fields, saw 5\nSkipping line 2059: expected 4 fields, saw 5\nSkipping line 2240: expected 4 fields, saw 5\nSkipping line 2325: expected 4 fields, saw 5\nSkipping line 2360: expected 4 fields, saw 5\nSkipping line 2382: expected 4 fields, saw 5\nSkipping line 2477: expected 4 fields, saw 5\nSkipping line 2522: expected 4 fields, saw 5\nSkipping line 2581: expected 4 fields, saw 5\nSkipping line 2605: expected 4 fields, saw 5\nSkipping line 2627: expected 4 fields, saw 5\nSkipping line 2665: expected 4 fields, saw 5\nSkipping line 2708: expected 4 fields, saw 5\nSkipping line 2713: expected 4 fields, saw 5\nSkipping line 2731: expected 4 fields, saw 5\nSkipping line 2796: expected 4 fields, saw 5\nSkipping line 2823: expected 4 fields, saw 5\nSkipping line 2874: expected 4 fields, saw 5\nSkipping line 2950: expected 4 fields, saw 5\nSkipping line 2984: expected 4 fields, saw 5\nSkipping line 3093: expected 4 fields, saw 5\nSkipping line 3136: expected 4 fields, saw 5\nSkipping line 3156: expected 4 fields, saw 5\nSkipping line 3263: expected 4 fields, saw 5\nSkipping line 3361: expected 4 fields, saw 5\nSkipping line 3431: expected 4 fields, saw 5\nSkipping line 3447: expected 4 fields, saw 5\nSkipping line 3498: expected 4 fields, saw 5\nSkipping line 3539: expected 4 fields, saw 5\nSkipping line 3648: expected 4 fields, saw 5\nSkipping line 3743: expected 4 fields, saw 5\nSkipping line 3748: expected 4 fields, saw 5\nSkipping line 3757: expected 4 fields, saw 5\nSkipping line 3795: expected 4 fields, saw 5\nSkipping line 3844: expected 4 fields, saw 5\nSkipping line 3866: expected 4 fields, saw 5\nSkipping line 3911: expected 4 fields, saw 5\nSkipping line 3932: expected 4 fields, saw 5\nSkipping line 3988: expected 4 fields, saw 5\nSkipping line 3989: expected 4 fields, saw 5\nSkipping line 4110: expected 4 fields, saw 5\nSkipping line 4135: expected 4 fields, saw 5\nSkipping line 4238: expected 4 fields, saw 5\nSkipping line 4267: expected 4 fields, saw 5\nSkipping line 4286: expected 4 fields, saw 5\nSkipping line 4386: expected 4 fields, saw 5\nSkipping line 4401: expected 4 fields, saw 5\nSkipping line 4414: expected 4 fields, saw 5\nSkipping line 4600: expected 4 fields, saw 5\nSkipping line 4613: expected 4 fields, saw 5\nSkipping line 4675: expected 4 fields, saw 5\nSkipping line 4729: expected 4 fields, saw 5\nSkipping line 4780: expected 4 fields, saw 5\nSkipping line 4786: expected 4 fields, saw 5\nSkipping line 4814: expected 4 fields, saw 5\nSkipping line 4883: expected 4 fields, saw 5\nSkipping line 4893: expected 4 fields, saw 5\nSkipping line 4945: expected 4 fields, saw 5\nSkipping line 4984: expected 4 fields, saw 5\nSkipping line 5002: expected 4 fields, saw 5\nSkipping line 5013: expected 4 fields, saw 5\nSkipping line 5022: expected 4 fields, saw 5\nSkipping line 5038: expected 4 fields, saw 5\nSkipping line 5049: expected 4 fields, saw 5\nSkipping line 5059: expected 4 fields, saw 5\nSkipping line 5169: expected 4 fields, saw 5\nSkipping line 5218: expected 4 fields, saw 5\nSkipping line 5263: expected 4 fields, saw 5\nSkipping line 5330: expected 4 fields, saw 5\nSkipping line 5347: expected 4 fields, saw 5\nSkipping line 5366: expected 4 fields, saw 5\nSkipping line 5378: expected 4 fields, saw 5\nSkipping line 5425: expected 4 fields, saw 5\nSkipping line 5431: expected 4 fields, saw 5\nSkipping line 5488: expected 4 fields, saw 5\nSkipping line 5560: expected 4 fields, saw 5\nSkipping line 5631: expected 4 fields, saw 5\nSkipping line 5669: expected 4 fields, saw 5\nSkipping line 5677: expected 4 fields, saw 5\nSkipping line 5693: expected 4 fields, saw 5\nSkipping line 5701: expected 4 fields, saw 5\nSkipping line 5747: expected 4 fields, saw 5\nSkipping line 5818: expected 4 fields, saw 5\nSkipping line 5887: expected 4 fields, saw 5\nSkipping line 5917: expected 4 fields, saw 5\nSkipping line 5957: expected 4 fields, saw 5\nSkipping line 6029: expected 4 fields, saw 5\nSkipping line 6100: expected 4 fields, saw 5\nSkipping line 6138: expected 4 fields, saw 5\nSkipping line 6170: expected 4 fields, saw 5\nSkipping line 6199: expected 4 fields, saw 5\nSkipping line 6223: expected 4 fields, saw 5\nSkipping line 6231: expected 4 fields, saw 5\nSkipping line 6300: expected 4 fields, saw 5\nSkipping line 6305: expected 4 fields, saw 5\nSkipping line 6345: expected 4 fields, saw 5\nSkipping line 6361: expected 4 fields, saw 5\nSkipping line 6369: expected 4 fields, saw 5\nSkipping line 6439: expected 4 fields, saw 5\nSkipping line 6451: expected 4 fields, saw 5\nSkipping line 6512: expected 4 fields, saw 5\nSkipping line 6582: expected 4 fields, saw 5\nSkipping line 6651: expected 4 fields, saw 5\nSkipping line 6816: expected 4 fields, saw 5\nSkipping line 6920: expected 4 fields, saw 5\nSkipping line 6967: expected 4 fields, saw 5\nSkipping line 6975: expected 4 fields, saw 5\nSkipping line 6997: expected 4 fields, saw 5\nSkipping line 7136: expected 4 fields, saw 5\nSkipping line 7139: expected 4 fields, saw 5\nSkipping line 7188: expected 4 fields, saw 5\nSkipping line 7202: expected 4 fields, saw 5\nSkipping line 7303: expected 4 fields, saw 5\nSkipping line 7314: expected 4 fields, saw 5\nSkipping line 7317: expected 4 fields, saw 5\nSkipping line 7339: expected 4 fields, saw 5\nSkipping line 7531: expected 4 fields, saw 5\nSkipping line 7989: expected 4 fields, saw 5\nSkipping line 8054: expected 4 fields, saw 5\nSkipping line 8069: expected 4 fields, saw 5\nSkipping line 8101: expected 4 fields, saw 5\nSkipping line 8194: expected 4 fields, saw 5\nSkipping line 8195: expected 4 fields, saw 5\nSkipping line 8197: expected 4 fields, saw 5\nSkipping line 8273: expected 4 fields, saw 5\nSkipping line 8280: expected 4 fields, saw 5\nSkipping line 8308: expected 4 fields, saw 5\nSkipping line 8329: expected 4 fields, saw 5\nSkipping line 8366: expected 4 fields, saw 5\nSkipping line 8378: expected 4 fields, saw 5\nSkipping line 8394: expected 4 fields, saw 5\nSkipping line 8437: expected 4 fields, saw 5\nSkipping line 8468: expected 4 fields, saw 5\nSkipping line 8554: expected 4 fields, saw 5\nSkipping line 8574: expected 4 fields, saw 5\nSkipping line 8588: expected 4 fields, saw 5\nSkipping line 8614: expected 4 fields, saw 5\nSkipping line 8619: expected 4 fields, saw 5\nSkipping line 8645: expected 4 fields, saw 5\nSkipping line 8664: expected 4 fields, saw 5\nSkipping line 8668: expected 4 fields, saw 5\nSkipping line 8682: expected 4 fields, saw 5\nSkipping line 8685: expected 4 fields, saw 5\nSkipping line 8871: expected 4 fields, saw 5\nSkipping line 9076: expected 4 fields, saw 5\nSkipping line 9179: expected 4 fields, saw 5\nSkipping line 9180: expected 4 fields, saw 5\nSkipping line 9197: expected 4 fields, saw 5\nSkipping line 9225: expected 4 fields, saw 5\nSkipping line 9352: expected 4 fields, saw 5\nSkipping line 9371: expected 4 fields, saw 5\nSkipping line 9502: expected 4 fields, saw 5\nSkipping line 9527: expected 4 fields, saw 5\nSkipping line 9539: expected 4 fields, saw 5\nSkipping line 9568: expected 4 fields, saw 5\nSkipping line 9646: expected 4 fields, saw 5\nSkipping line 9686: expected 4 fields, saw 5\nSkipping line 9701: expected 4 fields, saw 5\nSkipping line 9792: expected 4 fields, saw 5\nSkipping line 9895: expected 4 fields, saw 5\nSkipping line 10012: expected 4 fields, saw 5\nSkipping line 10100: expected 4 fields, saw 5\nSkipping line 10159: expected 4 fields, saw 5\nSkipping line 10196: expected 4 fields, saw 5\nSkipping line 10208: expected 4 fields, saw 5\nSkipping line 10214: expected 4 fields, saw 5\nSkipping line 10275: expected 4 fields, saw 5\nSkipping line 10317: expected 4 fields, saw 5\nSkipping line 10365: expected 4 fields, saw 5\nSkipping line 10391: expected 4 fields, saw 5\nSkipping line 10425: expected 4 fields, saw 5\nSkipping line 10435: expected 4 fields, saw 5\nSkipping line 10461: expected 4 fields, saw 5\nSkipping line 10475: expected 4 fields, saw 5\nSkipping line 10486: expected 4 fields, saw 5\nSkipping line 10496: expected 4 fields, saw 5\nSkipping line 10515: expected 4 fields, saw 5\nSkipping line 10541: expected 4 fields, saw 5\nSkipping line 10549: expected 4 fields, saw 5\nSkipping line 10624: expected 4 fields, saw 5\nSkipping line 10646: expected 4 fields, saw 5\nSkipping line 10736: expected 4 fields, saw 5\nSkipping line 10751: expected 4 fields, saw 5\nSkipping line 10807: expected 4 fields, saw 5\nSkipping line 10966: expected 4 fields, saw 5\nSkipping line 10974: expected 4 fields, saw 5\nSkipping line 11079: expected 4 fields, saw 5\nSkipping line 11211: expected 4 fields, saw 5\nSkipping line 11286: expected 4 fields, saw 5\nSkipping line 11291: expected 4 fields, saw 5\nSkipping line 11334: expected 4 fields, saw 5\nSkipping line 11358: expected 4 fields, saw 5\nSkipping line 11364: expected 4 fields, saw 5\nSkipping line 11369: expected 4 fields, saw 5\nSkipping line 11421: expected 4 fields, saw 5\nSkipping line 11477: expected 4 fields, saw 5\nSkipping line 11478: expected 4 fields, saw 5\nSkipping line 11494: expected 4 fields, saw 5\nSkipping line 11549: expected 4 fields, saw 5\nSkipping line 11564: expected 4 fields, saw 5\nSkipping line 11588: expected 4 fields, saw 5\nSkipping line 11615: expected 4 fields, saw 5\nSkipping line 11628: expected 4 fields, saw 5\nSkipping line 11678: expected 4 fields, saw 5\nSkipping line 11702: expected 4 fields, saw 5\nSkipping line 11724: expected 4 fields, saw 5\nSkipping line 11734: expected 4 fields, saw 5\nSkipping line 11760: expected 4 fields, saw 5\nSkipping line 11883: expected 4 fields, saw 5\nSkipping line 11902: expected 4 fields, saw 5\nSkipping line 11907: expected 4 fields, saw 5\nSkipping line 11942: expected 4 fields, saw 5\nSkipping line 11969: expected 4 fields, saw 5\nSkipping line 12007: expected 4 fields, saw 5\nSkipping line 12031: expected 4 fields, saw 5\nSkipping line 12052: expected 4 fields, saw 5\nSkipping line 12095: expected 4 fields, saw 5\nSkipping line 12117: expected 4 fields, saw 5\nSkipping line 12288: expected 4 fields, saw 5\nSkipping line 12296: expected 4 fields, saw 5\nSkipping line 12304: expected 4 fields, saw 5\nSkipping line 12453: expected 4 fields, saw 5\nSkipping line 12608: expected 4 fields, saw 5\nSkipping line 12613: expected 4 fields, saw 5\nSkipping line 12623: expected 4 fields, saw 5\nSkipping line 12640: expected 4 fields, saw 5\nSkipping line 12690: expected 4 fields, saw 5\nSkipping line 12708: expected 4 fields, saw 5\nSkipping line 12741: expected 4 fields, saw 5\nSkipping line 12753: expected 4 fields, saw 5\nSkipping line 12797: expected 4 fields, saw 5\nSkipping line 12798: expected 4 fields, saw 5\nSkipping line 12821: expected 4 fields, saw 5\nSkipping line 12859: expected 4 fields, saw 5\nSkipping line 12930: expected 4 fields, saw 5\nSkipping line 13075: expected 4 fields, saw 5\nSkipping line 13198: expected 4 fields, saw 5\nSkipping line 13371: expected 4 fields, saw 5\nSkipping line 13392: expected 4 fields, saw 5\nSkipping line 13409: expected 4 fields, saw 5\nSkipping line 13411: expected 4 fields, saw 5\nSkipping line 13559: expected 4 fields, saw 5\nSkipping line 13576: expected 4 fields, saw 5\nSkipping line 13600: expected 4 fields, saw 5\nSkipping line 13611: expected 4 fields, saw 5\nSkipping line 13671: expected 4 fields, saw 5\nSkipping line 13679: expected 4 fields, saw 5\nSkipping line 13766: expected 4 fields, saw 5\nSkipping line 13861: expected 4 fields, saw 5\nSkipping line 13908: expected 4 fields, saw 5\nSkipping line 13943: expected 4 fields, saw 5\nSkipping line 13992: expected 4 fields, saw 5\nSkipping line 14053: expected 4 fields, saw 5\nSkipping line 14072: expected 4 fields, saw 5\nSkipping line 14083: expected 4 fields, saw 5\nSkipping line 14162: expected 4 fields, saw 5\nSkipping line 14193: expected 4 fields, saw 5\nSkipping line 14258: expected 4 fields, saw 5\nSkipping line 14340: expected 4 fields, saw 5\nSkipping line 14418: expected 4 fields, saw 5\nSkipping line 14529: expected 4 fields, saw 5\nSkipping line 14554: expected 4 fields, saw 5\nSkipping line 14570: expected 4 fields, saw 5\nSkipping line 14599: expected 4 fields, saw 5\nSkipping line 14660: expected 4 fields, saw 5\nSkipping line 14707: expected 4 fields, saw 5\nSkipping line 14846: expected 4 fields, saw 5\nSkipping line 14941: expected 4 fields, saw 5\nSkipping line 14957: expected 4 fields, saw 5\nSkipping line 15015: expected 4 fields, saw 5\nSkipping line 15030: expected 4 fields, saw 5\nSkipping line 15063: expected 4 fields, saw 5\nSkipping line 15104: expected 4 fields, saw 5\nSkipping line 15119: expected 4 fields, saw 5\nSkipping line 15133: expected 4 fields, saw 5\nSkipping line 15160: expected 4 fields, saw 5\nSkipping line 15199: expected 4 fields, saw 5\nSkipping line 15236: expected 4 fields, saw 5\nSkipping line 15238: expected 4 fields, saw 5\nSkipping line 15244: expected 4 fields, saw 5\nSkipping line 15270: expected 4 fields, saw 5\nSkipping line 15310: expected 4 fields, saw 5\nSkipping line 15329: expected 4 fields, saw 5\nSkipping line 15367: expected 4 fields, saw 5\nSkipping line 15434: expected 4 fields, saw 5\nSkipping line 15455: expected 4 fields, saw 5\nSkipping line 15524: expected 4 fields, saw 5\nSkipping line 15582: expected 4 fields, saw 5\nSkipping line 15605: expected 4 fields, saw 5\nSkipping line 15621: expected 4 fields, saw 5\nSkipping line 15651: expected 4 fields, saw 5\nSkipping line 15660: expected 4 fields, saw 5\nSkipping line 15689: expected 4 fields, saw 5\nSkipping line 15717: expected 4 fields, saw 5\nSkipping line 15722: expected 4 fields, saw 5\nSkipping line 15724: expected 4 fields, saw 5\nSkipping line 15767: expected 4 fields, saw 5\nSkipping line 15786: expected 4 fields, saw 5\nSkipping line 15794: expected 4 fields, saw 5\nSkipping line 15846: expected 4 fields, saw 5\nSkipping line 15882: expected 4 fields, saw 5\nSkipping line 15899: expected 4 fields, saw 5\nSkipping line 15919: expected 4 fields, saw 5\nSkipping line 15966: expected 4 fields, saw 5\nSkipping line 15975: expected 4 fields, saw 5\nSkipping line 16072: expected 4 fields, saw 5\nSkipping line 16085: expected 4 fields, saw 5\nSkipping line 16105: expected 4 fields, saw 5\nSkipping line 16139: expected 4 fields, saw 5\nSkipping line 16156: expected 4 fields, saw 5\nSkipping line 16277: expected 4 fields, saw 5\nSkipping line 16302: expected 4 fields, saw 5\nSkipping line 16318: expected 4 fields, saw 5\nSkipping line 16337: expected 4 fields, saw 5\nSkipping line 16363: expected 4 fields, saw 5\nSkipping line 16388: expected 4 fields, saw 5\nSkipping line 16406: expected 4 fields, saw 5\nSkipping line 16423: expected 4 fields, saw 5\nSkipping line 16477: expected 4 fields, saw 5\nSkipping line 16488: expected 4 fields, saw 5\nSkipping line 16493: expected 4 fields, saw 5\nSkipping line 16538: expected 4 fields, saw 5\nSkipping line 16562: expected 4 fields, saw 5\nSkipping line 16663: expected 4 fields, saw 5\nSkipping line 16699: expected 4 fields, saw 5\nSkipping line 16741: expected 4 fields, saw 5\nSkipping line 16755: expected 4 fields, saw 5\nSkipping line 16792: expected 4 fields, saw 5\nSkipping line 16932: expected 4 fields, saw 5\nSkipping line 17011: expected 4 fields, saw 5\nSkipping line 17045: expected 4 fields, saw 5\nSkipping line 17047: expected 4 fields, saw 5\nSkipping line 17102: expected 4 fields, saw 5\nSkipping line 17142: expected 4 fields, saw 5\nSkipping line 17252: expected 4 fields, saw 5\nSkipping line 17311: expected 4 fields, saw 5\nSkipping line 17329: expected 4 fields, saw 5\nSkipping line 17355: expected 4 fields, saw 5\nSkipping line 17356: expected 4 fields, saw 5\nSkipping line 17359: expected 4 fields, saw 5\nSkipping line 17376: expected 4 fields, saw 5\nSkipping line 17427: expected 4 fields, saw 5\nSkipping line 17461: expected 4 fields, saw 5\nSkipping line 17466: expected 4 fields, saw 5\nSkipping line 17472: expected 4 fields, saw 5\nSkipping line 17478: expected 4 fields, saw 5\nSkipping line 17534: expected 4 fields, saw 5\nSkipping line 17582: expected 4 fields, saw 5\nSkipping line 17585: expected 4 fields, saw 5\nSkipping line 17603: expected 4 fields, saw 5\nSkipping line 17673: expected 4 fields, saw 5\nSkipping line 17674: expected 4 fields, saw 5\nSkipping line 17683: expected 4 fields, saw 5\nSkipping line 17777: expected 4 fields, saw 5\nSkipping line 17778: expected 4 fields, saw 5\nSkipping line 17894: expected 4 fields, saw 5\nSkipping line 17947: expected 4 fields, saw 5\nSkipping line 17971: expected 4 fields, saw 5\nSkipping line 18003: expected 4 fields, saw 5\nSkipping line 18012: expected 4 fields, saw 5\nSkipping line 18082: expected 4 fields, saw 5\nSkipping line 18167: expected 4 fields, saw 5\nSkipping line 18216: expected 4 fields, saw 5\nSkipping line 18223: expected 4 fields, saw 5\nSkipping line 18326: expected 4 fields, saw 5\nSkipping line 18366: expected 4 fields, saw 5\nSkipping line 18385: expected 4 fields, saw 5\nSkipping line 18402: expected 4 fields, saw 5\nSkipping line 18416: expected 4 fields, saw 5\nSkipping line 18441: expected 4 fields, saw 5\nSkipping line 18481: expected 4 fields, saw 5\nSkipping line 18553: expected 4 fields, saw 5\nSkipping line 18615: expected 4 fields, saw 5\nSkipping line 18705: expected 4 fields, saw 5\nSkipping line 18756: expected 4 fields, saw 5\nSkipping line 18777: expected 4 fields, saw 5\nSkipping line 18820: expected 4 fields, saw 5\nSkipping line 18872: expected 4 fields, saw 5\nSkipping line 18873: expected 4 fields, saw 5\nSkipping line 18911: expected 4 fields, saw 5\nSkipping line 18997: expected 4 fields, saw 5\nSkipping line 19001: expected 4 fields, saw 5\nSkipping line 19023: expected 4 fields, saw 5\nSkipping line 19045: expected 4 fields, saw 5\nSkipping line 19423: expected 4 fields, saw 5\nSkipping line 19433: expected 4 fields, saw 5\nSkipping line 19444: expected 4 fields, saw 5\nSkipping line 19485: expected 4 fields, saw 5\nSkipping line 19585: expected 4 fields, saw 5\nSkipping line 19617: expected 4 fields, saw 5\nSkipping line 19635: expected 4 fields, saw 5\nSkipping line 19652: expected 4 fields, saw 5\nSkipping line 19713: expected 4 fields, saw 5\nSkipping line 19735: expected 4 fields, saw 5\nSkipping line 19751: expected 4 fields, saw 5\nSkipping line 19755: expected 4 fields, saw 5\nSkipping line 19781: expected 4 fields,

In [4]:
data.head()

     index -DOCSTART-  -X-  O
0       EU        NNP  NaN  O
1  rejects        VBZ  NaN  O
2   German         JJ  NaN  O
3     call         NN  NaN  O
4       to         TO  NaN  O

In [5]:
print(data.shape)
data.columns

(204566, 4)

Index(['index', '-DOCSTART-', '-X-', 'O'], dtype='object')

In [6]:
test.head()

            index -DOCSTART-  -X-    O
0         CRICKET        NNP  NaN    O
1               -          :    O  NaN
2  LEICESTERSHIRE        NNP  NaN    O
3            TAKE        NNP  NaN    O
4            OVER         IN  NaN    O

In [7]:
data = data[data['index'] !='-DOCSTART-']
test = test[test['index'] !='-DOCSTART-']

In [8]:
data.isnull().sum()

index              3
-DOCSTART-         0
-X-           178153
O              27479
dtype: int64

In [9]:
data.head(2)
test.head(2)

     index -DOCSTART-  -X-    O
0  CRICKET        NNP  NaN    O
1        -          :    O  NaN

In [10]:
data.fillna('UNK',inplace = True)
test.fillna('UNK',inplace = True)

In [11]:
def label(X,O):
    if O != 'UNK':
        return O
    else:
        return X

In [12]:
data['Label']  = data.apply(lambda row: label(row['-X-'], row['O']), axis=1)
test['label']  = test.apply(lambda row: label(row['-X-'], row['O']), axis=1)

In [13]:
data.head(10)

     index -DOCSTART-  -X-    O Label
0       EU        NNP  UNK    O     O
1  rejects        VBZ  UNK    O     O
2   German         JJ  UNK    O     O
3     call         NN  UNK    O     O
4       to         TO  UNK    O     O
5  boycott         VB  UNK    O     O
6  British         JJ  UNK    O     O
7     lamb         NN  UNK    O     O
8        .          .    O  UNK     O
9    Peter        NNP  UNK    I     I

In [14]:
test.head(20)

             index -DOCSTART-  -X-    O label
0          CRICKET        NNP  UNK    O     O
1                -          :    O  UNK     O
2   LEICESTERSHIRE        NNP  UNK    O     O
3             TAKE        NNP  UNK    O     O
4             OVER         IN  UNK    O     O
5               AT        NNP  UNK    O     O
6              TOP        NNP  UNK    O     O
7            AFTER        NNP  UNK    O     O
8          INNINGS        NNP  UNK    O     O
9          VICTORY         NN  UNK    O     O
10               .          .    O  UNK     O
11          LONDON        NNP  UNK    O     O
12      1996-08-30         CD  UNK    O     O
13            West        NNP  UNK    O     O
14          Indian        NNP  UNK  UNK   UNK
15     all-rounder         NN  UNK    O     O
16            Phil        NNP  UNK    I     I
17         Simmons        NNP  UNK    I     I
18            took        VBD  UNK    O     O
19            four         CD  UNK    O     O

In [15]:
data.drop(['-X-','O'],axis = 1, inplace =True)
test.drop(['-X-','O'],axis = 1, inplace =True)

In [16]:
data.head()

     index -DOCSTART- Label
0       EU        NNP     O
1  rejects        VBZ     O
2   German         JJ     O
3     call         NN     O
4       to         TO     O

In [17]:
test.head()

            index -DOCSTART- label
0         CRICKET        NNP     O
1               -          :     O
2  LEICESTERSHIRE        NNP     O
3            TAKE        NNP     O
4            OVER         IN     O

In [18]:
data.columns = ['Word','POS','Label']
test.columns = ['Word','POS','Label']

In [19]:
data=data[data['Word']!='.']
test=test[test['Word']!='.']

In [20]:
data['Word']=data['Word'].str.lower()
test['Word']=test['Word'].str.lower()

In [21]:
print(data.shape)
print(test.shape)

(196247, 3)
(48420, 3)

In [22]:
Alldataset = pd.concat([data,test],sort = False)

In [23]:
Alldataset.tail()

               Word  POS Label
50503      thursday  NNP     O
50505            --    :     O
50506         dhaka  NNP     O
50507      newsroom  NNP     O
50508  880-2-506363   CD     O

In [24]:
Alldataset.iloc[196247:196252,:]

             Word  POS Label
0         cricket  NNP     O
1               -    :     O
2  leicestershire  NNP     O
3            take  NNP     O
4            over   IN     O

In [25]:
from sklearn import preprocessing
labelencoding = preprocessing.LabelEncoder()
labelencoding.fit(Alldataset['Word'])
Alldataset['Encoded_Word']=labelencoding.transform(Alldataset['Word'])
Alldataset.head()

      Word  POS Label  Encoded_Word
0       eu  NNP     O         10072
1  rejects  VBZ     O         18658
2   german   JJ     O         11304
3     call   NN     O          6949
4       to   TO     O         21973

In [26]:
lab = {'O':0,'I':1}

In [27]:
Alldataset['Label'] = Alldataset['Label'].map(lab)

In [28]:
Alldataset.dtypes

Word             object
POS              object
Label           float64
Encoded_Word      int32
dtype: object

In [29]:
Alldataset.head()

      Word  POS  Label  Encoded_Word
0       eu  NNP    0.0         10072
1  rejects  VBZ    0.0         18658
2   german   JJ    0.0         11304
3     call   NN    0.0          6949
4       to   TO    0.0         21973

In [30]:
Alldataset.set_index('Word',inplace=True)

In [31]:
result = pd.concat([Alldataset, pd.get_dummies(Alldataset['POS'])], axis=1, sort=False)

In [32]:
result.head()

,POS,Label,Encoded_Word,$,'',(,),",",.,:,...,VB,VBD,VBG,VBN,VBP,VBZ,WDT,WP,WP$,WRB
Word,,,,,,,,,,,,,,,,,,,,,
eu,NNP,0.0,10072,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
rejects,VBZ,0.0,18658,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
german,JJ,0.0,11304,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
call,NN,0.0,6949,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
to,TO,0.0,21973,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [33]:
finalAds = result.drop(['POS'],axis = 1)

In [34]:
finalAds.head()

,Label,Encoded_Word,$,'',(,),",",.,:,CC,...,VB,VBD,VBG,VBN,VBP,VBZ,WDT,WP,WP$,WRB
Word,,,,,,,,,,,,,,,,,,,,,
eu,0.0,10072,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
rejects,0.0,18658,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
german,0.0,11304,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
call,0.0,6949,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
to,0.0,21973,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [35]:
train = finalAds.iloc[:196247,:]
test = finalAds.iloc[196247:,:]
test.head()

,Label,Encoded_Word,$,'',(,),",",.,:,CC,...,VB,VBD,VBG,VBN,VBP,VBZ,WDT,WP,WP$,WRB
Word,,,,,,,,,,,,,,,,,,,,,
cricket,0.0,8360,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
-,0.0,119,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
leicestershire,0.0,14178,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
take,0.0,21473,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
over,0.0,16728,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [36]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score

In [37]:
test = test.dropna(axis=0, subset=['Label'])
train = train.dropna(axis=0, subset=['Label'])

In [38]:
xtrain = train.drop('Label',axis = 1)
ytrain = train['Label']
ytrain=ytrain.astype('int')

In [39]:
train.Label.isnull().sum()

0

In [40]:
xtest = test.drop('Label',axis = 1)
ytest = test['Label']
ytrain=ytrain.astype('int')

In [41]:
ytrain.dtypes

dtype('int32')

In [42]:
np.shape(ytrain)

(194069,)

In [43]:
clf_lr = LogisticRegression()
clf_lr.fit(xtrain, ytrain)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [44]:
ytrain.value_counts()

0    182941
1     11128
Name: Label, dtype: int64

In [45]:
lr_pred = clf_lr.predict(xtest)

In [46]:
lr_pred

array([0, 0, 0, ..., 0, 0, 0])

In [47]:
np.shape(lr_pred)

(47449,)

In [48]:
np.shape(ytest)

(47449,)

In [49]:
ytest.value_counts()

0.0    44355
1.0     3094
Name: Label, dtype: int64

In [50]:
np.unique(lr_pred)

array([0])

In [51]:
accuracy_rf = accuracy_score(ytest,lr_pred)
print("Accuracy: {}".format(accuracy_rf))

Accuracy: 0.9347931463255285

In [52]:
f1_score(ytest, lr_pred, average='weighted')

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1143: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

0.9032885278477804

In [53]:
clf_rf = RandomForestClassifier(max_depth=30)

In [54]:
clf_rf.fit(xtrain, ytrain)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=30, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [55]:
rf_pred = clf_rf.predict(xtest)
rf_pred_prb=clf_rf.predict_proba(xtest)[:,1]

In [57]:
accuracy_rf = accuracy_score(ytest,rf_pred)
print("Accuracy: {}".format(accuracy_rf))

Accuracy: 0.9773862462854854

In [56]:
f1_score(ytest, rf_pred, average='weighted')

0.9764086513312691